
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  line-height: 1.6;
}


header {
  background-color: #1f2937;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

header h1 {
  font-size: 36px;
}

.subtitle {
  font-size: 18px;
  margin-top: 10px;
}



/* Main content */
main {
  padding: 20px;
}

/* Sections */
section {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

section h2 {
  margin-bottom: 10px;
  color: #1f2937;
}

/* List */
ul {
  list-style-type: square;
  margin-left: 20px;
  text-align: left;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th {
  background-color: #e5e7eb;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: center;
}

/* Footer */
footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}
